#body {
    background-color: coral;
}

#caption {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color: blue;
}

#tabla {
    width: 500px;
    background-color: red;
    color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-style: dashed;
    border-color: black;
    border-width: 2px;
    text-align: center;
}

#celdas {
    background-color: chartreuse;
    padding: 5px;
    border-style: dashed;
    border-color: grey;
    border-width: 1px;
}